<div class="container mt-4">
  <h2 class="text-center">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 shadow rounded bg-light">
    <div class="mb-3">
      <label>Mobile Number</label>
      <input formControlName="usercontact" class="form-control" placeholder="Enter mobile number">
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success w-100" [disabled]="loginForm.invalid">Login</button>
    <div class="text-danger mt-2">{{ error }}</div>
  </form>
</div>
